<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
  
  
    <ion-card-header>
      <ion-card-title>
        Pengalaman Pribadi
      </ion-card-title>
    </ion-card-header>

  <ion-card-content>
    <ion-button> <ion-icon name="body-outline"></ion-icon> Pengalaman Cukup menyenangkan</ion-button><br>
    <ion-button> <ion-icon name="bulb-outline"></ion-icon> Kritik : - </ion-button><br>
    <ion-button> <ion-icon name="mail-outline"></ion-icon> Saran : - </ion-button><br>

    
    
    
  </ion-card-content>
  </ion-card>
</ion-content>
